<%= form_for(@event) do |f| %>
<% if @event.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

  <ul>
    <% @event.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="row">
  <div class="field small-4 columns">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
</div>
<div class="row">
  <div class="field small-4 columns">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
</div>
<div class="row">
  <div class="field small-4 columns">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </div>
</div>
</div>
<div class="row">
  <div class="actions small-4 columns">
    <%= f.submit %>
  </div>
</div>

<div class="row">
  <div class="field small-4 columns">
    <%= f.label :person %><br>
    <%= f.collection_select :person, @people, :id, :name %>
  </div>
</div>


<% end %>
